<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <title>Text CRUD App</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h4 class="masthead-brand" style="color:#5fe6da; float: inherit;">Words</h4>
        </div>
      </header>
      <main role="main" class="inner cover">
        <p class="lead">
          <a href="/all" class="btn btn-sm btn-secondary" style="background-color:#84edc1;">All Words</a>
        </p>
        <p class="lead">
            <a href="/add" class="btn btn-sm btn-secondary" style="background-color:#84edc1;">Add a new word</a>
          </p>
      </main>
	<footer class="mastfoot mt-auto">  
    <div class="inner">
      <p>Made with <i class="icon ion-heart" style="color: #e25555;"></i> By
  <a style="text-decoration:none; font-family: Cochin;" href="mailto:gdeepak884@gmail.com" target="_blank">Deepak Gupta</a>
</p>
</div>
    </footer>
    </div>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>